body {
  background-color: rgb(149, 13, 145);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90vh;
}

.header {
  display: flex;
  justify-content: flex-end;
}
